yrpp-spawner-private/
Release/**
Release-Hardened/**
Nightly/**
Nightly-Hardened/**
Debug/**
Debug-Hardened/**
Release-CnCNetYR/**
Release-CnCNetYR-Hardened/**
Nightly-CnCNetYR/**
Nightly-CnCNetYR-Hardened/**
Debug-CnCNetYR/**
Debug-CnCNetYR-Hardened/**

.vs/**
.vscode/**

*.vcxproj.user
*.vcxproj.filters
*.sdf
*.suo
.cproject
.project
*.aps
