yrpp-spawner-private/
Release/**
Release-Hardened/**
DevBuild/**
DevBuild-Hardened/**
Debug/**
Debug-Hardened/**
Release-CnCNetYR/**
Release-CnCNetYR-Hardened/**
DevBuild-CnCNetYR/**
DevBuild-CnCNetYR-Hardened/**
Debug-CnCNetYR/**
Debug-CnCNetYR-Hardened/**

.vs/**
.vscode/**

*.vcxproj.user
*.vcxproj.filters
*.sdf
*.suo
.cproject
.project
*.aps
