yrpp-spawner-private/
Release/**
DevBuild/**
Debug/**
Release-HardEnd/**
DevBuild-HardEnd/**
Debug-HardEnd/**

.vs/**
.vscode/**

*.vcxproj.user
*.vcxproj.filters
*.sdf
*.suo
.cproject
.project
*.aps
