#include <windows.h>

3002 DIALOG 0, 0, 533, 369
STYLE DS_SETFONT | WS_CHILD
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
{
   CONTROL "GUI:GameOptions", 1684, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 425, 1, 108, 10 
   CONTROL "GUI:GameControls", 1313, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 425, 122, 108, 23 
   CONTROL "GUI:SaveGame", 1311, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 425, 149, 108, 23 
   CONTROL "GUI:AbortMission", 1314, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 425, 176, 108, 23 
   CONTROL "GUI:ResumeMission", 1670, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 425, 346, 108, 23 
   CONTROL "GUI:Blank", 1685, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE, 2, 355, 303, 12 
}